@charset "utf-8";
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,fieldset,button,input,textarea,th,td{margin:0;padding:0}
body{height:100%;min-width:990px;background-color:#fff; }
body,button,input,select,textarea,fieldset,label{font:12px/1.8 "\5FAE\8F6F\96C5\9ED1",tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;color:#666}
h1,h2,h3,h4,h5,h6{font-size:100%}
ul,ol{list-style:none}
fieldset,img{border:0 none}
img{-ms-interpolation-mode:bicubic; vertical-align: top;}
i,em{font-style:normal}
table{border-collapse:collapse;border-spacing:0}
input,select,textarea,button{font-size:100%}
button,input[type=button],input[type=submit]{cursor:pointer}
a{color:#333;text-decoration:none}
a:hover{text-decoration:underline}
.clear{zoom:1}
.clear:after{content:"";display:table;clear:both}
.hide{display:none}

/*layout*/
.grid_c1{ width: 990px; margin: 0 auto;}

/*imgs*/
.i_logo,
.i_action_ico1,
.i_action_ico2,
.i_hshare,
.i_cnt a,
.mod_logo,
.t_dot a,
.d_house_hd,
.mod_ft_logo,
.mod_ft_email,
.bjqs-controls li a,
.bjqs-markers li a{background-image: url("../imgs/imgs.png"); background-repeat: no-repeat;}

/*GB*/
.mod_hd .grid_c1{ overflow: hidden;}
.mod_hd{height: 120px;background: #ffcd33 url("../imgs/bg.png") repeat; border-top: 10px solid #ffcd33 }
    .mod_logo{width:100px;height:100px;margin: 6px auto;}

.mod_toolbar{background: #414141; height: 45px; line-height: 45px; font-size: 14px; color: #eeedea;}
.mod_toolbar_nav{ float: left; /* width: 640px; */ height: 45px; padding-left: 10px; overflow: hidden;}
.mod_toolbar_nav li{ float: left; margin-right: 20px;}
.mod_toolbar_nav a{color:#eeedea; display: block; padding: 0 20px; }
.mod_toolbar_nav a.last{margin-right: 0;}
.mod_toolbar_nav a:hover,
.mod_toolbar_nav a.selected{background: #eeedea; color:#414141; text-decoration: none; }
.mod_toolbar_info{ float: right; color: #f4dfa0; margin-right: 20px;}
.mod_toolbar_info a{color: #f4dfa0;}
.mod_toolbar_info span{padding: 0 10px;}


/*ft*/
.mod_ft{height: 115px; padding-top: 20px; background: #bbe7e4;}
    .mod_ft_logo{width:103px;height:103px; display: block; float: left; background-position:-483px -201px;}
    .mod_ft_list{padding: 36px 0 0 45px;float: left;}
    .mod_ft_list li{ float: left; margin-right: 100px; font-size: 14px;}
    .mod_ft_list a{font-weight: 700;}
    .mod_ft_email{width:65px;height:56px; display: block; float: right; background-position:-600px -202px;margin: 20px 0 0 0;}

/*index页面*/
.i_hd{ height: 260px; background: #bbe7e4; }
    .i_logo{width:440px;height:145px;background-position:-6px -162px; margin: 60px 0 0 10px; float: left; _display: inline;}
    .i_hshare{width:138px;height:54px;background-position:-209px 0; float: right; margin: 4px 15px 100px 0}
    .i_hshare a{width:68px;height:53px; display: inline-block}
    .i_action{ width: 400px; float: right;}
    .i_action_ico1{width:187px;height:72px; display: inline-block; background-position:-10px -5px;}
    .i_action_ico2{width:187px;height:72px; display: inline-block; background-position:-10px -77px;}

/*banner*/
.i_banner{ height: 493px;}
/*slider*/
.i_banner .bjqs{position:relative;overflow:hidden;}
.i_banner .bjqs-slide{position:absolute; display:none;}
.i_banner .bjqs-controls{z-index:9999;}
.i_banner .bjqs-controls li a{position:absolute; width:75px;height:75px; line-height: 999em; overflow: hidden;}
.i_banner .bjqs-controls li.bjqs-next a{right:50%; margin-right: -485px;background-position: -707px -283px; }
.i_banner .bjqs-controls li.bjqs-next a:hover{background-position:-219px -68px; }
.i_banner .bjqs-controls li.bjqs-prev a{left:50%; margin-left: -485px;background-position: -702px -180px; }
.i_banner .bjqs-controls li.bjqs-prev a:hover{background-position:-313px -68px; }
.i_banner .bjqs-markers {position: absolute; top: 435px; left: 50%; margin-left: -59px;}
.i_banner .bjqs-markers li{display:inline;}
.i_banner .bjqs-markers li a{width:33px;height:63px; line-height: 999em; overflow: hidden; margin-right: 10px; display:inline-block;background-position:-719px -380px;}
.i_banner .bjqs-markers li.active-marker a{background-position:-766px -380px;}
.i_banner .bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}


.i_bd{ height: 430px; background: #ffcd33 url("../imgs/bg.png") repeat}
    .i_cnt{ padding: 100px 0 0 38px;}
    .i_cnt li{width:230px;height:230px; float: left; margin-right: 92px;}
    .i_cnt li.last{margin-right: 0}
    .i_cnt a{display: block;width:230px;height:230px;-webkit-transform:rotate(0deg); -webkit-transition:all 0.2s ease-out;  }
    .i_cnt a:hover{-webkit-transform:rotate(10deg);}
        .i_cnt_ico1{background-position:-13px -323px; }
        .i_cnt_ico1:hover{}
        .i_cnt_ico2{background-position:-245px -323px;}
        .i_cnt_ico3{background-position:-482px -323px;}

.i_ft{ height: 235px; background:#7e8163 url("../imgs/index/foot.png") no-repeat center center; color: #fff; font-size: 20px;}
    .i_contact{padding: 50px 0 52px 10px;}
    .i_fshare{margin: 0 0 0 14px;}
    .i_fshare a{display: inline-block; width: 38px; height: 38px; margin-right: 2px; }

/*专题页面*/
    .t_logo{width:100px;height:100px;background-position: -415px -63px; margin: 6px auto;}
/*专题slider*/
.t_cnt{margin: 241px 0 189px 0;}
    .t_cnt_item{ width: 200px; margin: 10px 167px 0 10px; float: left; _display: inline; text-align: center;}
    .t_cnt_item_last{margin-right: 0}
    .t_cnt_img{ width: 200px; height: 200px; margin-bottom: 32px; display: block;}
    .t_cnt_tit{font-size: 21px; font-weight: 700; color: #000;}
    .t_cnt_stit{color: #888; width: 100%; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; margin: 7px 0 48px 0;}
    .t_cnt_desc{ color: #888; line-height: 22px; font-size: 16px;}
    /*点*/
    /*.t_dot{ *//* width: 148px; *//* padding: 106px 0 78px 430px;}*/
    /*.t_dot_l{width:52px;height:53px; display: inline-block; background-position: -343px 0;margin-right: 20px;}*/
    /*.t_dot_l:hover{background-position:-531px -13px;}*/
    /*.t_dot_r{width:52px;height:53px; display: inline-block; background-position: -421px 1px;}*/
    /*.t_dot_r:hover{background-position:-609px -12px;}*/

/*slider*/
.t_cnt .bjqs{position:relative;overflow:hidden;}
.t_cnt .bjqs-slide{position:absolute; display:none;}
.t_cnt .bjqs-controls{z-index:9999; position: absolute; top: -143px; left: 50%;}
.t_cnt .bjqs-controls li a{position:absolute; width:75px;height:75px; line-height: 999em; overflow: hidden;}
.t_cnt .bjqs-controls li.bjqs-prev a{left:50%; width:52px;height:53px; display: inline-block; background-position: -343px 0;margin-left: -70px;}
.t_cnt .bjqs-controls li.bjqs-prev a:hover{background-position:-531px -13px; }

.t_cnt .bjqs-controls li.bjqs-next a{right:50%; width:52px;height:53px; display: inline-block; background-position: -421px 0;margin-right: -70px;  }
.t_cnt .bjqs-controls li.bjqs-next a:hover{background-position:-609px -13px; }





/*下载页面*/
.d_logo{background-position:-516px -68px;}
    /*下载介绍*/
.d_app{border-bottom: 1px solid #d2d2d2}
.d_app_last{border-bottom: 0 none;}
    .d_app_col1{ width: 495px; float: left;}
    .d_app_col2{ width: 480px; float: left;}

    .d_banner{ height: 821px; margin-bottom: 112px; background: url("../imgs/download/bg_rp.jpg") repeat-x}
        .d_banner_1{background: url("../imgs/download/b1.jpg") no-repeat center; height: 271px;}
        .d_banner_2{background: url("../imgs/download/b2.jpg") no-repeat center; height: 304px;}
        .d_banner_3{background: url("../imgs/download/b3.jpg") no-repeat center; height: 246px;}
        .d_banner_2 .grid_c1{position: relative;}
            .d_banner_down{ width: 313px; height: 111px; position: absolute; top: -3px; left: -15px;}
            .d_banner_txt{position: absolute; top: 43px; left: 305px; color: #fff;font-size: 14px;}
    .d_house{margin: 0 0 0 10px;}
        .d_house_hd{width:475px;height:55px; line-height: 55px; font-size: 28px; text-indent: 15px; color: #fff;background-position:-9px -561px;}
        .d_house_bd{padding: 10px 0;}
            .d_house_item{ padding: 17px 11px;}
            .d_house_item:hover{background: #e7e7e7;}
                .d_house_img{ width: 83px; height: 83px; float: left; margin-right: 17px;}
                .d_house_txt{ overflow: hidden;}
                    .d_house_tit{font-size: 24px; color: #525252; font-weight: 700; margin: 10px 0 15px 0;line-height: 26px;height: 26px;}
                    .d_house_tit span{ float: right;}
                    .d_house_info{font-size: 18px; color: #949494; }
                    .d_house_info span{padding-right: 13px;}

/*VIP*/
.v_logo{background-position:-629px -77px;}
.v_bg{margin-bottom: 150px;}
.v_bg_1{background: url("../imgs/vip/1.jpg") no-repeat center; height: 157px}
.v_bg_2{background: url("../imgs/vip/2.jpg") no-repeat center; height: 241px}
.v_bg_3{background: url("../imgs/vip/3.jpg") no-repeat center; height: 133px}
.v_bg_3 .grid_c1{position: relative;}
    .v_link1{ width: 178px; height: 200px; position: absolute; left: 128px; top: -73px}
    .v_link2{ width: 178px; height: 200px; position: absolute; left: 412px; top: -73px}
    .v_link3{ width: 178px; height: 200px; position: absolute; left: 699px; top: -73px}

/*VIP 1*/
.v_cnt{text-align: center; line-height: 35px; font-size: 14px; margin-bottom: 60px;}
.v_cnt_ico{margin: 33px auto; text-align: center;}
.v_cnt_tit{font-size: 18px; margin-bottom: 25px;}
.v_cnt_hr{font-size: 0; height: 1px; background: #ccc; display: block; margin: 22px auto; width: 500px;}
.v_cnt_card{}
.v_cnt_card img{display: block; margin: 0 auto}
.v_cnt_txt p{margin: 20px 0; text-align: center;}


/*===== 电子商城 =====*/
.s_logo{background-position:-512px -566px;}
.s_goods{ width: 990px; overflow: hidden; color: #886850; font-size: 14px;}
.s_goods ul{width: 1100px; margin-bottom: 30px;}
.s_goods li{ width: 320px; float: left; margin: 0 11px 20px 0; text-align: center;border: solid 1px #eae8e9;-webkit-transition:border 0.2s ease-out;}
.s_goods li img{ width: 320px; height: 320px;}
.s_goods li:hover{border: 1px solid #886850 }
    .s_goods_tit{margin: 10px 0 5px 0; width: 100%; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
    .s_goods_tit a{color:#886850 }
    .s_goods_price{color:#c40000; font-size: 18px; font-weight: 700; }
    .s_goods_price span{font-size: 14px; font-family: "arial";}
    .s_goods_action a{height: 26px; line-height: 26px; width: 100px; display: inline-block; margin: 15px 10px; text-align: center; border: 2px solid #886850;}
        .s_goods_view{color:#886850 }
        .s_goods_buy{color: #fff; background: #886850}

.s_nav{ padding: 5px; margin: 20px auto; border-radius: 5px; background: #886850}
.s_nav a{display: block; float: left; padding: 10px; margin-right: 20px; border-radius: 5px; color: #fff;}
.s_nav a:hover,
.s_nav a.selected{background: #9b806b; text-decoration: none;}