@charset "utf-8";
html,body,h1,h2,h3,h4,h5,h6,hr,p,iframe,dl,dt,dd,ul,ol,li,pre,form,fieldset,button,input,textarea,th,td{margin:0;padding:0}
body{height:100%;min-width:1002px;background-color:#f4f4f4; }
body,button,input,select,textarea,fieldset,label{font:12px/1.5 "\5FAE\8F6F\96C5\9ED1",tahoma,arial,'Hiragino Sans GB',\5b8b\4f53,sans-serif;color:#666}
h1,h2,h3,h4,h5,h6{font-size:100%}
ul,ol{list-style:none}
fieldset,img{border:0 none}
img{-ms-interpolation-mode:bicubic}
i,em{font-style:normal}
table{border-collapse:collapse;border-spacing:0}
input,select,textarea,button{font-size:100%}
button,input[type=button],input[type=submit]{cursor:pointer}
a{color:#333;text-decoration:none}
a:hover{text-decoration:underline}
.clear{zoom:1}
.clear:after{content:"";display:table;clear:both}
.hide{display:none}

/*layout*/
.grid_c1{ width: 990px; margin: 0 auto;}

/*imgs*/
.i_logo,
.i_action_ico1,
.i_action_ico2,
.i_hshare,
.i_cnt a{background-image: url("../imgs/imgs.png"); background-repeat: no-repeat;}

/*index页面*/
.i_hd{ height: 260px; background: #bbe7e4; }
    .i_logo{width:440px;height:145px;background-position:-6px -162px; margin: 60px 0 0 10px; float: left; _display: inline;}
    .i_hshare{width:138px;height:54px;background-position:-209px 0; float: right; margin: 4px 15px 100px 0}
    .i_hshare a{width:68px;height:53px; display: inline-block}
    .i_action{ width: 400px; float: right;}
    .i_action_ico1{width:187px;height:72px; display: inline-block; background-position:-10px -5px;}
    .i_action_ico2{width:187px;height:72px; display: inline-block; background-position:-10px -77px;}

/*banner*/
.i_banner{background: #fff url("../imgs/temp.png") no-repeat center; height: 495px;}


.i_bd{ height: 430px; background: #ffcd33 url("../imgs/bg.png") repeat}
    .i_cnt{ padding: 100px 0 0 38px;}
    .i_cnt li{width:230px;height:230px; float: left; margin-right: 92px;}
    .i_cnt li.last{margin-right: 0}
    .i_cnt a{display: block;width:230px;height:230px;}
        .i_cnt_ico1{background-position:-13px -323px;}
        .i_cnt_ico2{background-position:-245px -323px;}
        .i_cnt_ico3{background-position:-482px -323px;}

.i_ft{ height: 235px; background:#7e8163 url("../imgs/index/foot.png") no-repeat center center; color: #fff; font-size: 20px;}
    .i_contact{padding: 50px 0 70px 10px;}
    .i_fshare{margin: 0 0 0 14px;}
    .i_fshare a{display: inline-block; width: 38px; height: 38px; margin-right: 2px; }